<div class="sidebar">
  <div class="container-fluid w-100">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
      <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
        <div class="list-group border-0 card text-center text-md-left">
          <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Dasboard</span> </a>
          <div class="collapse" id="menu1">
            <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
            <div class="collapse" id="menu1sub1">
              <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
              <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
              <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
              <div class="collapse" id="menu1sub1sub1">
                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.2</a>
              </div>
              <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 4 d</a>
              <a href="#menu1sub1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 5 e </a>
              <div class="collapse" id="menu1sub1sub2">
                <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.1</a>
                <a href="#" class="list-group-item" data-parent="#menu1sub1sub2">Subitem 5 e.2</a>
              </div>
            </div>
            <a [routerLink]="['/catalogue']" class="list-group-item" data-parent="#menu1">ARTISTAS</a>
            <a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a>
          </div>
          <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="d-none d-md-inline">Catálogos</span></a>
          <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Reportes</span></a>
          <div class="collapse" id="menu3">
            <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
            <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
            <div class="collapse" id="menu3sub2">
              <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
              <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
              <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
            </div>
            <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
          </div>
        </div>
      </div>
      <main class="col-md-10 float-left col px-5 pl-md-2 pt-2 main">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>