.login-page {
  width: 100%;
  height: 100%;
  padding: 12vh;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #E43D4E, #E85967);
  background: -moz-linear-gradient(right, #E43D4E, #E85967);
  background: -o-linear-gradient(right, #E43D4E, #E85967);
  background: linear-gradient(to left, #E43D4E, #E85967);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: none;
    color: #7F7F7F;
    font-size: 10px;
    font-weight: bold;
    margin-top: 30px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #E64858;
  }   
  .form {
    margin: 0 0;
    border-radius: 2px 0 0 2px;
    z-index: 1;
    float: right;
    z-index: 1;
    background: #FFFFFF;
    height: 600px;
    width: 400px;
    margin: 0;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    label {
      font-size: 10px;
      color: #878787;
      font-weight: bold;
    }
    .input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #FFFFFF;
      width: 100%;
      padding: 0 0 5px 0;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #CFCFCF;
      box-sizing: border-box;
      font-size: 14px;
    }
    select {
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid #CFCFCF;
    }
    .rememberMe {
      float: right;
      label {
        .checkbox {
          height: 20px;
          width: 20px;
        }
        .checkbox:checked {
          background: #2aa1c0;
        }
      }
    }
    button {
      float: right;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #E64858;
      width: 180px;
      height: 40px;
      border: 0;
      border-radius: 2px;
      padding: 15px;
      color: #FFFFFF;
      font-size: 11px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      
    }
    button:hover,
    button:active,
    button:focus {
      background: #43A047;
    }
    .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .message a {
      color: #4CAF50;
      text-decoration: none;
    }
    .register-form {
      display: none;
    }
    .crear {
      margin-top: 60px;
      align-self: flex-end;
      float: right;
    }
  }

  .img-log {
    border-radius: 0 2px 2px 0;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  select {
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  select:focus {
    background-image:
      linear-gradient(45deg, transparent 50%, #E64858 50%),
      linear-gradient(135deg, #E64858 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
  }
}
