<div class="login-page">
    <div class="row justify-content-center no-gutters">
        <div class="col-12 col-md-4">
            <div class="form">
                <h3>CREAR CUENTA</h3>
                <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-form" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control input" name="username" formControlName="username">
                        <label for="username">NOMBRE</label>
                        <!-- <div [hidden]="(registerForm.controls.userName.valid || registerForm.controls.userName.untouched) && registerForm.controls.userName.minLenght" class="help-block">Username is required</div> -->
                    </div>
                    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control input" name="username" formControlName="lastname">
                        <label for="username">APELLIDOS</label>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div> -->
                    <div class="form-group" [ngClass]="{ 'has-error': registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched) }">
                        <input type="password" class="form-control input" name="password" formControlName="password">
                        <label for="password">CONTRASEÑA</label>
                        <!-- <div *ngIf="registerForm.controls.password.valid || !registerForm.controls.password.valid" class="help-block">Username is required</div> -->
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !registerForm.controls.repeatPassword.valid }">
                        <input type="password" class="form-control input" name="repeatPassword" formControlName="repeatPassword">
                        <label for="repeatPassword">CONFIRMAR CONTRASEÑA</label>
                        <!-- <div *ngIf="registerForm.controls.repeatPassword.valid || !registerForm.controls.repeatPassword.valid" class="help-block">Username is required</div> -->
                    </div>
                    <!-- <div class="row">
                        <div class="col-6">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <label for="fecnac">FECHA DE NACIMIENTO</label>
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control input" type="text" [(ngModel)]="newRegister.fecnac.day" placeholder="DD" ng-maxlength="2">
                                    </div>
                                    <div class="col">
                                        <input class="form-control input" type="text" [(ngModel)]="newRegister.fecnac.month" placeholder="MM" ng-maxlength="2">
                                    </div>
                                    <div class="col">
                                        <input class="form-control input" type="text" [(ngModel)]="newRegister.fecnac.year" placeholder="AA" ng-maxlength="2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="genero">GÉNERO</label>
                                <select name="genero" [(ngModel)]="newRegister.genre" class="form-control">
                                    <option value=""></option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="pais">PAÍS</label>
                                <select name="pais" [(ngModel)]="newRegister.country" class="form-control">
                                    <option value=""></option>
                                    <option value="1">México</option>
                                    <option value="2">Femenino</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="estado">ESTADO</label>
                                <select name="estado" [(ngModel)]="newRegister.state" class="form-control">
                                    <option value=""></option>
                                    <option value="1">Querétaro</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <button
                            type="submit"
                            [disabled]="registerForm.invalid || isLoading"
                            class="btn btn-primary">
                            Siguiente
                        </button>
                        <img
                            *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-log" src="assets/my/crear_cuenta.png" alt="Login">
        </div>
    </div>
</div>
