<div class="table-container">
  <div class="row table-options">
    <div class="filter" for="tableSearchInput">
      <div>
        <i class="fa fa-dashboard"></i><span>FILTRAR</span>
      </div>
    </div>
    <div class="input h100">
      <div class="input-group align-self-center">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" id="tableSearchInput">
      </div>
    </div>
    <div class="options">
      <button class="btn item">
        <i class="fa fa-file-text-o"></i>
      </button>
      <button class="btn item">
        <i class="fa fa-files-o"></i>
      </button>
      <button class="btn item">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th><input type="checkbox" value=""></th>
            <th *ngFor="let field of dataTable.fields" ngClass="[field.class]">{{ field.title }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <p *ngIf="dataTable.loadTable">Cargando...</p>
          <tr *ngFor="let artist of dataTable.data">
            <td><input type="checkbox"></td>
            <td *ngFor="let field of dataTable.fields" ngClass="[field.class]">{{ artist[field.property] }}</td>
            <td>
              <span class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" (click)="logOut()">Salir</a>
                </div>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
