.table-container {
    .table-options{
        height: 50px;
        display: flex;
        border: 1px solid #EAEAEA;
        .filter {
            flex: 1;
            position: relative;
            height: 100%;
            text-align: center;
            border-right: 1px solid #EAEAEA;
            color: #838383;
            font-family: 'Montserrat';
            div {
                position: absolute;
                margin: 10px 0 0 10px;
                span {
                    font-size: 10px;
                }
                i {
                    margin-right: 10px;
                }
            }
        }
        .input {
            flex: 10;
            height: 100%;
            margin-right: 10px;
            .input-group {
                margin-top: 5px;
            }
        }
        .options {
            height: 100%;
            .item {
                color: #CFCFCF;
                cursor: pointer;
                z-index: 2;
                height: 100%;
                width: 50px;
                margin: 0;
                display: block;
                float: right;
                border-radius: 0px;
                border-left: 1px solid #EAEAEA;
                background-color: #F5F5F5;
                &:hover, &:focus {
                    background-color: #CFCFCF;
                    color: black;
                }
            }
        }
    }
    .input-group {
        .input-group-addon {
            border: none;
            background-color: #F5F5F5;
            color: #9F9F9F;
        }
        input {
            background-color: #F5F5F5;
            border: none;
        }
    }
    tr th {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 0.7px;
    }
    tr td {
        height: 45px;
        font-size: 12px;
        color: #595959;
        background-color: white;
        border-bottom: 5px solid #F5F5F5;
        letter-spacing: 0.6px;
    }
}