.login-page {
    width: 100%;
    height: 100%;
    padding: 10vh;
    position: relative;
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #E85967, #E43D4E);
    background: -moz-linear-gradient(right, #E85967, #E43D4E);
    background: -o-linear-gradient(right, #E85967, #E43D4E);
    background: linear-gradient(to left, #E85967, #E43D4E);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .errorLogin {
        height: 40px;
        width: 320px;
        font-size: 12px;
        color: #EA6877;
        margin-top: -40px;
        margin-bottom: 50px;
        border: none;
        border-radius: 2px;
        p {
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    a {
        text-decoration: none;
        color: #7F7F7F;
        font-size: 10px;
        font-weight: bold;
    }
    h3 {
        margin-bottom: 65px;
        top: 40px;
        left: 40px;
        font-size: 25px;
        font-weight: bold;
        color: #E64858;
    }
    .form {
        border-radius: 2px 0 0 2px;
        z-index: 1;
        float: center;
        z-index: 1;
        background: #FFFFFF;
        height: 500px;
        width: 399px;
        margin: 0;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        input {
            outline: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 0 0 5px 0;
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #CFCFCF;
            box-sizing: border-box;
            font-size: 14px;
        }
        .rememberMe {
            float: right;
            label {
                font-family: 'Montserrat';
                font-size: 10px;
                color: #7F7F7F;
                .checkbox {
                    height: 20px;
                    width: 20px;
                }
            }
        }
        button {
            text-transform: uppercase;
            width: 180px;
            height: 40px;
            margin-bottom: 30px;
            border-radius: 2px;
            padding: 15px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        }
        .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
        .message a {
            color: #4CAF50;
            text-decoration: none;
        }
        .register-form {
            display: none;
        }
        .olvide {
            color: #7F7F7F;
            position: absolute;
            margin-left: 0;
        }
        .crear {
            position: absolute;
            bottom: 40px;
            right: 40px;
            float: right;
            color: #7F7F7F;
        }
    }
    .img-log {
        border-radius: 0 2px 2px 0;
        margin: 0px;
        padding: 0px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
}