<nav class="navbar navbar-expand-lg">
  
  <a class="navbar-brand" [routerLink]="['']"><img src="assets/my/logo110.png" class="logo" alt="Logo"></a>
  <a data-target="#sidebar" data-toggle="collapse">
    <button class="btn burguer">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline mr-auto mt-2 mt-lg-0">
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar">
      </div>
    </form>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item mr-3">
        <a class="nav-link" href><i class="fa fa-cog"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href><i class="fa fa-bell-o"></i></a>
      </li>
      <li class="nav-item dropdown profile">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/users/1/profile.png" alt="Profile" class="rounded-circle"> CUQUI RESENDIZ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" (click)="logOut()">Salir</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
