.navbar {
  margin-bottom: 0px;
  height: 60px;
  box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.1);
  .fa {
    color: #5A5A5A;
  }
  .burguer {
    background-color: white;
    color: #8D8D8D;
    margin-right: 40px;
    &:hover, &:active {
      background-color: white;
    }
  }
  .input-group {
    input {
      border: none;
    }
    .input-group-addon {
      border: none;
      background-color: white;
    }
  }
  .logo {
    height: 25px;
    margin: 15px 15px 15px 30px;
  }
  .profile {
    a {
      color: #5A5A5A;
      font-size: 0.65rem;
      font-weight: 600;
      font-family: 'Montserrat';
      letter-spacing: 0.4px;
    }
    img {
      margin-left: 60px;
      margin-right: 15px;
      height: 35px; 
    }
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle::after {
  color: #E64858;
}