<div class="fingerprint">
    <h4 *ngIf="finger">
        <span class="parent">
            {{ finger.parent }} >
        </span>
        <span class="child">
            <strong>{{ finger.child }}</strong>
        </span>
    </h4>
</div>
