.fingerprint {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #EAEAEA;
    .parent {
        cursor: pointer;
        color: #808080;
        font-size: 11px;
        letter-spacing: 0.7px;
    }
    .child {
        color: #222222;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.2px;
    }
}