/* You can add global styles to this file, and also import other style files */

@import "./app/theme";

/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Montserrat/montserrat-v10-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('./assets/fonts/Montserrat/montserrat-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Montserrat/montserrat-v10-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('./assets/fonts/Montserrat/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Montserrat/montserrat-v10-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}


/* open-sans-regular - latin */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Open-Sans/open-sans-v14-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.form-group {
    position: relative;
    margin-bottom: 3rem;
}

/* BUTTONS */

.btn-primary {
    background-color: $primary-color;
    color: white;
    border-radius: 2px;
    height: 40px;
    min-width: 220px;
    font-family: 'Montserrat';
    border: 0;
    outline: 0;
    font-size: 11px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    &:hover, &:focus {
        background-color: #E22C3E;
    }
    &:active {
        background-color: #E64858;
    }
    &:disabled {
        background-color: #EAEAEA;
        color: #838383;
    }
}

/*   DROPDOWNS */

.dropdown-menu {
    color: #929292;
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
    min-width: 150px;
    a {
        font-size: 10px;
        padding: 10px;
        text-align: center;
        border-bottom: solid 1px #EAEAEA;
        &:hover, &focus {
            background-color: #F5F5F5;
            font-weight: 500;
        }
        &:active {
            background-color: #F5F5F5;
            font-weight: bold;
            color: black;
        }
    }
}

/* TOASTR */

.toast-tile {
    font-family: 'Monsterrat';
    color: #5C5E5F;
}

.toast-error {
    background-color: #E54758;
}

.toast-success {
    background-color: #18BB9C;
}

.toast-info {
    background-color: #3598DB;
}

.toast-warning {
    background-color: #F39C11;
}






input[type=radio],
input[type=checkbox] {
    display: none;
}

.radio label:before {
    border-radius: 8px;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox]:checked {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

input[type=text]+label input[type=text],
input[type=password] {
    padding-bottom: 0.9rem;
    color: #202020;
}

input[type=text]+label,
input[type=password]+label {
    transition: 0.2s ease-out;
    color: #858585;
    position: absolute;
    top: -0.3rem;
    left: 0;
    font-size: 0.8rem;
    cursor: text;
}

input[type=text]+label.active,
input[type=password]+label.active {
    transform: translateY(-140%);
    font-size: 0.6rem;
}

// input::-webkit-input-placeholder {
//     transition: all 0.3s ease-in-out;
// }
// input {
//     margin: 40px 25px;
//     width: 200px;
//     display: block;
//     border: none;
//     padding: 10px 0;
//     border-bottom: solid 1px red;
//     transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
//     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, red 4%);
//     background-position: -200px 0;
//     background-size: 200px 100%;
//     background-repeat: no-repeat;
//     color: darken(red, 20%);
//     &:focus,
//     &:valid {
//         box-shadow: none;
//         outline: none;
//         background-position: 0 0;
//         &::-webkit-input-placeholder {
//             font-family: 'Montserrat', sans-serif;
//             color: red;
//             font-size: 11px;
//             transform: translateY(-20px);
//             visibility: visible !important;
//         }
//     }
// }