<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="assets/" alt=""></a>
</nav>
<div class="fourOfour">
    <!-- <img src="/assets/my/404.png" alt="404"> -->
    <div class="container">
        <div class="row">
            <div class="col-12 message">
                <h1>404</h1>
                <p>Lo sentimos, pero la página que está buscando no existe.</p>
                <a href="/">
                    <button class="btn">Regresar a Inicio</button>
                </a>
            </div>
        </div>
    </div>
</div>
