.navbar {
    height: 8vh;
    background-color: white;
    img {
        height: 100%;
    }
}

.fourOfour {
    background-color: #E64858;
    height: 92vh;
    width: 100vw;
    z-index: 6;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    img {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 5;
        // opacity: 0.5;
        // filter: alpha(opacity=50); /* For IE8 and earlier */
    }
    .message {
        margin: auto auto;
        text-align: center;
       margin-top: 25vh;
       z-index: 7;
       color: white;
       h1 {
           font-size: 135px;
       }
       button {
           width: 220px;
           height: 40px;
           border-radius: 2px;
       }
    }
}